---
import { getIconSvg } from '../../utils/icons';

interface Props {
  name: string;
  class?: string;
  [key: string]: any;
}

const { name, class: className, ...props } = Astro.props;
const icon = getIconSvg(name);
---
{icon ? (
  <svg 
    viewBox={icon.viewBox} 
    width={icon.width} 
    height={icon.height} 
    class={className} 
    aria-hidden="true" 
    {...props} 
    set:html={icon.body}
  />
) : (
  <span class={className} {...props}></span>
)}